<form action="/characters" method="post">
	<fieldset>
		<legend>New Character</legend>
		<input type="text" name="character[name]" placeholder="name"><br>
		<input type="text" name="character[species]" placeholder="species"><br>
		<input type="text" name="character[gender]" placeholder="gender"><br>
		<textarea name="character[description]" rows="10" cols="30">
		Describe your character
		</textarea><br>
		<textarea name="character[backstory]" rows="10" cols="30">
		What's their back story?
		</textarea><br>
		<input type="submit" value="Create a new character!">
	</fieldset>	
</form>